<h1>カートに商品を追加</h1>

<%= form_for(@cart_item, url: cart_items_path) do |f| %>
  <%= f.label :product_id %>
  <%= f.select :product_id, Product.all.map { |product| [product.name, product.id] } %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity, min: 1 %>
  <%= f.submit "追加" %>
<% end %>